<!DOCTYPE html>
<html>
<head>
    @using Microsoft.AspNet.Identity
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MelEyes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @*Import the styles for the page*@
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <script type="text/javascript">
        function showPosition() {
            //get the user's current network location
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    //create an ajax request to the Home controller's SendSms method with user's location
                    $.ajax({
                        url: '/Home/SendSms',
                        data: { 'userLat': position.coords.latitude, 'userLon': position.coords.longitude },
                        type: "post",
                        cache: false,
                        success: function (data) {
                            //on success alert the user
                            alert("Your current location was sent to emergency contact number ", "success", { position: "top-center" });
                            document.body.style.cursor = 'default';
                        },
                        error: function () {
                            //else alert the error message 
                            $.alert("Error! Could not send SMS to this number.");
                        }
                    });
                });
            } else {
                //alert the user if the geolocation failed
                alert("Sorry, your browser does not support HTML5 geolocation.");
            }
        }
    </script>

    @*google maps script loaded*@
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeWVnvpK2hWLTBmmt1yLn2BG0TNVnsMMQ&libraries=places"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    @*zoom function script*@
    <script>
        //flag to identify zoom button clicks
        var flag = true;
        function openZoom() {
            document.body.style.cursor = 'zoom-in';
            $(document).on('mouseover', '.frame', function () {
                //on mouse over a div element, get the current dimensions
                var element = {
                    width: $(this).width(),
                    height: $(this).height()
                };
                //get the current mouse location
                var mouse = {
                    x: event.pageX,
                    y: event.pageY
                };
                //get the current offset position
                var offset = $(this).offset();
                //set the origin position and transformation positions for the element
                var origin = {
                    x: (offset.left + (element.width / 2)),
                    y: (offset.top + (element.height / 2))
                };

                var trans = {
                    left: (origin.x - mouse.x) / 2,
                    down: (origin.y - mouse.y) / 2
                };
                
                var transform = ("scale(1.5,1.5) translateX(" + trans.left + "px) translateY(" + trans.down + "px)");
                //transform the div element to new dimensions
                $(this).children(".zoom").css("transform", transform);

            });
            //on mouse leave, revert the transform function
            $(document).on('mouseleave', '.frame', function () {
                $(this).children(".zoom").css("transform", "none");
            });
        };
        //on close zoom button clicked, revert the properties of mouse to default
        function closeZoom() {
            document.body.style.cursor = 'default';
            $(document).off('mouseover', '.frame');
            $(document).off('mouseleave', '.frame');
        }
        //function to toggle between zoom on and off
        function hightlightBtn() {
            if (flag) {
                flag = false;
                $("#div1").css({ "cursor": "zoom-in", "border": "solid", "height": "100", "width": "100" });
                $('#magnifier').on('click', openZoom());
            }
            else {
                flag = true;
                $("#div1").css({ "cursor": "pointer", "border": "none", "height": "64", "width": "64" });
                $('#magnifier').on('click', closeZoom());
            }

        };
        //function to listen to window scroll to move the buttons to current view
        window.onscroll = function () {
            var oDiv1 = document.getElementById('div1');
            var oDiv2 = document.getElementById('div2');
            var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
            //call the start move function to set the new positions for the buttons
            startMove(parseInt((document.documentElement.clientHeight - oDiv1.offsetHeight) / 2 + scrollTop));
            startMove(parseInt((document.documentElement.clientHeight - oDiv1.offsetHeight) / 2 - oDiv2.offsetHeight + scrollTop));
        };

        var timer = null;
        //animate the motion of the buttons
        function startMove(target) {
            var oDiv1 = document.getElementById('div1');
            var oDiv2 = document.getElementById('div2');
            //clear the timer
            clearInterval(timer);
            //create a new timer function to animate the motion to new position
            timer = setInterval(function () {
                var speed = (target - oDiv1.offsetTop) / 6;
                speed = speed > 0 ? Math.ceil(speed) : Math.floor(speed);
                if (oDiv1.offsetTop == target) {
                    clearInterval(timer);
                }
                else {
                    oDiv1.style.top = oDiv1.offsetTop + speed + 'px';
                    oDiv2.style.top = oDiv2.offsetTop + speed + 'px';
                }
            }, 30);
        }
    </script>

    <style>
        #div1 {
            position: absolute;
            right: 0;
            bottom: 200px;
        }

        #div2 {
            position: absolute;
            right: 0;
            bottom: 50px;
        }

        .zoom {
            font-size: 22px;
            transition: transform 0.2s linear;
        }
    </style>



</head>
<body style="padding-top:0px">
    <div class="main-content">
        <header class="header fixed">
            <div class="left">
                <div class="logo">
                    <a href="/Home/Index/">
                        <img src="~/images/logo.png" alt="ExploreCity" class="img-responsive" />
                    </a>
                </div> <!-- end .logo -->
            </div> <!-- end .left -->
            <div class="navigation clearfix">
                <nav class="main-nav">
                    <ul class="list-unstyled">
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Tactile Routes", "TactileSurface", "Home")
                        </li>
                        <li class="menu-item-has-children">
                            @Html.ActionLink("Support Services", "SupportServices", "Home")
                            <ul>
                                <li>
                                    @Html.ActionLink("Learn Braille", "LearnBraille", "Home")

                                </li>
                                <li>
                                    @Html.ActionLink("Talkback Tips", "Help", "Home")
                                </li>
                            </ul>
                        </li>
                        <li>

                        </li>
                    </ul>
                </nav> <!-- end .main-nav -->
                <a href="" class="responsive-menu-open"><i class="fa fa-bars"></i></a>
            </div> <!-- end .navigation -->
            @*Check if the user is authenticated or not to display the login or log off button*@
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "right" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ActionLink("My Plans", "Index", "UserPlans", null, new { @class = "button" })
                    <a class="button" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                }
            }
            else
            {
                <div class="right">
                    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "button" })
                </div>
            }

        </header> <!-- end .header -->
        <div class="responsive-menu">
            <a href="" class="responsive-menu-close"><i class="fa fa-times"></i></a>
            <nav class="responsive-nav"></nav> <!-- end .responsive-nav -->
        </div><!-- end .responsive-menu -->
    </div>

    @RenderBody()
    <hr />

    <footer class="section inner">
        <div class="footer_1its py-5">
            <div class="container py-md-4">
                <div class="row footer-top mb-md-5 mb-4">
                    <div class="col-lg-5 col-md-5 footer-grid_section_1its" data-aos="fade-right">
                        <div class="footer-title-w3pvt">
                            <h3>Our Mission</h3>
                        </div>
                        <div class="footer-text" style="text-align:left">
                            <p>To help people with low vision capabilities to navigate around the city of Melbourne independently.</p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 footer-grid_section_1its" data-aos="fade-right">
                        <div class="footer-title-w3pvt">

                            <h3>Contact Us</h3>
                        </div>
                        <div class="footer-text">
                            <p>Email : visionmelbournevic@gmail.com </p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 mt-md-0 mt-4 footer-grid_section_1its">
                        <div class="footer-title-w3pvt">
                            <h3>Quick Links</h3>
                        </div>
                        <div class="row no-gutters">
                            <ul class="links" style="font-size:15px;">
                                <li>
                                    @Html.ActionLink("Home", "Index", "Home")
                                </li>
                                <li>
                                    @Html.ActionLink("TactileRoutes", "TactileSurface", "Home")
                                </li>
                                <li>
                                    @Html.ActionLink("Support Services", "SupportServices", "Home")

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <p style="text-align:center">&copy; @DateTime.Now.Year - MelEyes </p>
    </footer>


    <script src="~/Scripts/moment.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/notify.min.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/script.js"></script>

    <button type="button" id="magnifier" onclick="hightlightBtn();" style="border:0;background-color:transparent"><img src="~/images/magnifier.png" id="div1" /></button>
   @* If the user is not authenticated hide the SOS button *@
    @if (User.Identity.IsAuthenticated)
    {
        <button type="button" id="magnifier" onclick="showPosition();" style="border:0;background-color:transparent"><img src="~/images/emergency.png" id="div2" /></button>
    }
    else
    {
        <button hidden type="button" id="magnifier" onclick="showPosition();" style="border:0;background-color:transparent"><img src="~/images/emergency.png" id="div2" /></button>
    }
</body>
</html>
