@model VisionMelbourneV3.Models.RegisterViewModel
@{
}
<span></span>

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <div class="data">
        @Html.AntiForgeryToken()
        <div class="frame">
            <div class="zoom">
                <h4>Create a new account</h4>
            </div>
        </div>
        <hr />
        <div class="frame">
            <div class="zoom">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="frame">
                <div class="zoom">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                </div>
            </div>
            <div class="col-md-10">
                <div class="frame">
                    <div class="zoom">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="frame">
                <div class="zoom">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                </div>
            </div>
            <div class="col-md-10">
                <div class="frame">
                    <div class="zoom">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="frame">
                <div class="zoom">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                </div>
            </div>
            <div class="col-md-10">
                <div class="frame">
                    <div class="zoom">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="frame">
                <div class="zoom">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                </div>
            </div>
            <div class="col-md-10">
                <div class="frame">
                    <div class="zoom">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="frame">
                    <div class="zoom">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
