@model VisionMelbourneV3.Models.RegisterViewModel
@{
}
<span></span>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    
    <div class="data">
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div>
            <p id="myContent" style="font-size:250%">
                Set the font size you are comfortable with
            </p>
            <div class="form-group" style="margin-left:10%;">
                <a onclick="resizeText(-10)" style="padding-right:10%;">Decrease Size</a>
                <a onclick="resizeText(10)" style="padding-left:10%;">Increase Size</a>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TextSize, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.HiddenFor(m => m.TextSize, new { id = "TextID" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".increaseFont,.decreaseFont").click(function () {
                var type = $(this).val();
                var curFontSize = $('.data').css('font-size');
                if (type == 'increase') {
                    $('.data').css('font-size', parseInt(curFontSize) + 1);
                }
                else {
                    $('.data').css('font-size', parseInt(curFontSize) - 1);
                }
            });


        });
    </script>
}
