@model IEnumerable<VisionMelbourneV3.Models.Location>

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />

@{
    var header = "";
    foreach (var item in Model) { header = item.Theme; }
    ViewBag.Title = header;
    int plansCount = 1;
}
<body style="padding:10px; font-size:24px;">
    <div class="page-header">
        <div class="container">
            <div class="breadcrumbs">
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li>@header</li>
                </ul>
            </div> <!-- end .breadcrumbs -->
        </div> <!-- end .container -->
    </div> <!-- end .page-header -->
    <h2>List of @header</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.Label("Location")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userPlan in Model)
            {
                <tr>
                    @if (userPlan.Name != null)
                    {
                        var locationID = "location" + plansCount;

                        <td id=@locationID>
                            @Html.DisplayFor(modelItem => userPlan.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = userPlan.Id, date = DateTime.Now }, new { @class = "btn btn-primary" })
                            <a id=@plansCount class="btn btn-warning" onclick="doTTS(this)">
                                Speak
                                <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                            </a>
                        </td>
                    }
                </tr>
                plansCount = plansCount + 1;
            }
        </tbody>
    </table>

</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
    ]
    <script>
        function doTTS(element) {
            document.getElementById(element.id).onclick = function () {
                var plocation = "location" + element.id;
                var text = "Location, " + document.getElementById(plocation).innerHTML;
                const utterance = new SpeechSynthesisUtterance(text);
                utterance.pitch = 1.5;
                utterance.volume = 1.5;
                utterance.rate = 1;
                speechSynthesis.speak(utterance);
            }
        }

    </script>
}

