@model IEnumerable<VisionMelbourneV3.Models.Location>

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />
@{
    var header = "";
    foreach (var item in Model) { header = item.Theme; }
    ViewBag.Title = header;
    int plansCount = 1;
}
<h2>List of @header</h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Location")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userPlan in Model)
        {
            <tr>
                @if (userPlan.Name != null)
                {
                    var locationID = "location" + plansCount;

                    <td id=@locationID>
                        @Html.DisplayFor(modelItem => userPlan.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = userPlan.Id, date = DateTime.Now }, new { @class = "btn btn-primary" })
                        <a id=@plansCount class="btn btn-warning" onclick="doTTS(this)">
                            Speak
                            <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                        </a>
                    </td>
                }
            </tr>
            plansCount = plansCount + 1;
        }
    </tbody>
</table>

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="glyphicon glyphicon-menu-up"></i></button>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }


    </script>
    <script>
        function doTTS(element) {
            document.getElementById(element.id).onclick = function () {
                var plocation = "location" + element.id;
                var text = "Location, " + document.getElementById(plocation).innerHTML;
                const utterance = new SpeechSynthesisUtterance(text);
                utterance.pitch = 1.5;
                utterance.volume = 1.5;
                utterance.rate = 1;
                speechSynthesis.speak(utterance);
            }
        }

    </script>
}

