@model VisionMelbourneV3.Models.UserPlan

@{
    ViewBag.Title = "Delete";
    DateTime fulldate = (DateTime)Model.Date;
    TimeSpan fulltime = (TimeSpan)Model.Time;
    string date = fulldate.Date.ToString("dd/MM/yyyy");
    string time = fulltime.ToString(@"hh\:mm");
}

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<div>
    <br />
    <div class="inner">
        <div class="container">
            <div class="box">
                <div class="row">
                    <div style="text-align:center"><h2>@ViewBag.Title plan for @Model.Location</h2></div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="row">
                            <div class="col-md-3">
                                <b>Plan Location</b>
                            </div>
                            <div class="col-md-9">
                                <div style="text-align:center">
                                    @Model.Location
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <b>Date</b>
                            </div>
                            <div class="col-md-9">
                                <div style="text-align:center">
                                    @date
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <b>Time </b>
                            </div>
                            <div class="col-md-9">
                                <div style="text-align:center">
                                    @time
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <b>Pedestrian Traffic  </b>
                            </div>
                            <div class="col-md-9">
                                @if (Convert.ToInt32(Model.PeopleCount) == 0)
                                {
                                    <div style="text-align:center">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <p>Sorry no info found!</p>
                                    </div>
                                }
                                @if (Convert.ToInt32(Model.PeopleCount) <= 200 && Convert.ToInt32(Model.PeopleCount) > 0)
                                {
                                    <div style="text-align:center">
                                        <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                        <p>Free Street!</p>
                                    </div>

                                }

                                @if (Convert.ToInt32(Model.PeopleCount) <= 400 && Convert.ToInt32(Model.PeopleCount) > 200)
                                {
                                    <div style="text-align:center">
                                        <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                        <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                        <p>Busy street!</p>
                                    </div>
                                }
                                @if (Convert.ToInt32(Model.PeopleCount) > 400)
                                {
                                    <div style="text-align:center">
                                        <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                        <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                        <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                        <p>Crowder Than Usual!</p>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <b>Accessibility Level  </b>
                            </div>
                            <div class="col-md-9">
                                @if (Convert.ToInt32(Model.AccessibilityRating) == 0)
                                {
                                    <div style="text-align:center">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <p>Sorry no Accessibility info found!</p>
                                    </div>
                                }
                                @if (Convert.ToInt32(Model.AccessibilityRating) == 1)
                                {
                                    <div style="text-align:center">
                                        <img src="~/images/LowAccessibility.png" />
                                        <p>Low Level Accessibility</p>
                                    </div>
                                }

                                @if (Convert.ToInt32(Model.AccessibilityRating) == 2)
                                {
                                    <div style="text-align:center">
                                        <img src="~/images/MediumAccessibility.png" />
                                        <p>Moderate Level Accessibility</p>
                                    </div>
                                }
                                @if (Convert.ToInt32(Model.AccessibilityRating) == 3)
                                {
                                    <div style="text-align:center">
                                        <img src="~/images/HighAccessibility.png" />
                                        <p>High Level Accessibility</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        @Html.ActionLink("Back to List", "PlanCreator", new { date = Model.Date }, new { @class = "button" })
                        <input type="submit" value="Delete" class="button col-md-offset-3" style="color:red" />
                    </div>

                }
            </div>
        </div>
    </div>
</div>
