@model VisionMelbourneV3.Models.UserPlan

<div>
    <form id="editForm">
        
        @Html.HiddenFor(model => model.Latitude, new { @id = "lat1" })
        @Html.HiddenFor(model => model.Longitude, new { @id = "lon1" })
        @Html.HiddenFor(model => model.Date)
        @Html.HiddenFor(model => model.Id)
        <div class=" row">
            <div class="col-md-3">@Html.Label("Edit Location:")</div>
            <input id="autocomplete1" type="text"  placeholder="Add a Location" required class="form-control" />
        </div>
        <div class=" row">
            <div class="col-md-3">@Html.Label("Edit Time:")</div>
            @Html.EditorFor(model => model.Time, new {@id="Date1", @class = "form-control", @placeholder = "Plan Time" })
        </div>

        <a href="#" id="btnSubmit" class="btn btn-success btn-block">Update</a>
    </form>
    <div style="text-align:center;display:none" id="loaderDiv"></div>
</div>






<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            $("#loaderDiv").show();
            var editformdata = $("#editForm").serialize();
            $.ajax({
                type: "POST",
                url: "/UserPlans/EditedPlan",
                data: editformdata,
                success: function () {
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    window.location.href = "@Url.Action("PlanCreator", "UserPlans", @Model.Date.Date)";
                }
            })
        })
    })
</script>
<script type="text/javascript">
    $(function () {
        $('#Date1').datetimepicker({
            format: 'HH:mm'
        });
    });
</script>

<script>
    var options = {
        componentRestrictions: { country: "au" }
    };
    var input = document.getElementById('autocomplete1');
    var autocomplete = new google.maps.places.Autocomplete(input, options);
    autocomplete.addListener('place_changed', function () {
        var place = autocomplete.getPlace();
        document.getElementById('lat1').value = place.geometry.location.lat();
        document.getElementById('lon1').value = place.geometry.location.lng();
        console.log(place.geometry.location.lat() + ',' + place.geometry.location.lng());
    });

    function codeAddress() {
        var place = autocomplete.getPlace();
        document.getElementById('lat1').value = place.geometry.location.lat();
        document.getElementById('lon1').value = place.geometry.location.lng();
    }
</script>