@model IEnumerable<VisionMelbourneV3.Models.UserPlan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*full Calendar*@
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.print.css" media="print" />


<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="breadcrumbs">
                <ul class="list-unstyled">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>My Plans</li>
                </ul>
            </div> <!-- end .breadcrumbs -->
        </div>
    </div> <!-- end .container -->
</div> <!-- end .page-header -->
<div id="calendar"></div>
<div style="display: none">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeopleCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessibilityLevel)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="events">
                <td class="title">
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeopleCount)
                </td>

                <td class="start">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td class="time">
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessibilityLevel)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/fullcalendar")
    <script>

        var events = [];
        $(".events").each(function () {
            var title = $(".title", this).text().trim();
            var plandate = $(".start", this).text().trim();
            var time = $(".time", this).text().trim();
            var sd = new Date(plandate);
            var sm = moment(sd).format("YYYY-MM-DD");
            var start = new Date(sm + ' ' + time);
            if (start >= new Date()) {
                var event = {
                    "title": title,
                    "start": start
                };
                events.push(event);
            }

        });
        
        $("#calendar").fullCalendar({
            locale: 'au',
            events: events, 

            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },

            dayClick: function (date, allDay, jsEvent, view) {
                var current_date = moment().format('YYYY-MM-DD')
                if (current_date > date.format())
                {
                    alert("You cannot choose these dates");
                }
                else {
                    var d = new Date(date);
                    var m = moment(d).format("YYYY-MM-DD");
                    m = encodeURIComponent(m);
                    var uri = "/UserPlans/PlanCreator?date=" + m;
                    $(location).attr('href', uri);
                }

            }

        });

    </script>
}
