@model IEnumerable<VisionMelbourneV3.Models.Location>
@{
    ViewBag.Title = "Nearby Places";
    string startLocation = ViewBag.planstartLocation;
    string nearlocation = ViewBag.findnearLocation;
    string latitude = ViewBag.latitude;
    string longitude = ViewBag.longitude;
    string Date = ViewBag.planDate;
    string Time = ViewBag.Time;
}

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>


    function changeFunc() {
        var selectBox = document.getElementById("typeholder");
        selectedValue = selectBox.options[selectBox.selectedIndex].value;
        var radselectBox = document.getElementById("radius");
        radius = radselectBox.options[radselectBox.selectedIndex].value;
        renderMap(selectedValue);
    }


    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    var selectedValue = "art_gallery";
    var radius = 1;
    var destination = [];
    var latitude = [];
    var longitude = [];
    var map;
    var infowindow;
    var selectedTypes = [];

    function initialize() {

        var pyrmont = new google.maps.LatLng(@latitude, @longitude);

        map = new google.maps.Map(document.getElementById('map'), {
            center: pyrmont,
            zoom: 12
        });
        var marker = new google.maps.Marker({
            map: map,
            position: pyrmont
        });
    }

    function renderMap(value) {
        // Get the user defined values
        radius = radius * 1000;


        selectedTypes.push(value)

               var pyrmont = new google.maps.LatLng(@latitude, @longitude);

                map = new google.maps.Map(document.getElementById('map'), {
                    center: pyrmont,
                    zoom: 15
                });
                var marker = new google.maps.Marker({
                    map: map,
                    position: pyrmont
                });


                var request = {
                    location: pyrmont,
                    radius: radius,
                    types: selectedTypes
                };
        selectedTypes = [];


                infowindow = new google.maps.InfoWindow();

                var service = new google.maps.places.PlacesService(map);
                service.nearbySearch(request, callback);

    }

    function callback(results, status) {
        table.clear();
        if (status == google.maps.places.PlacesServiceStatus.OK) {
            var location = document.getElementById('location');
            var tripInstructions = [];
            table.destroy();
            for (var i = 0; i < results.length; i++) {
                destination.push(results[i].name + ',' + results[i].vicinity);
                latitude.push(results[i].geometry.location.lat());
                longitude.push(results[i].geometry.location.lng());
                createMarker(results[i], results[i].icon);
                var placename = results[i].name;
                var placeaddress = results[i].vicinity.replace(/,\s*$/, "");
                tripInstructions.push('<tr><td id = "name' + i + '">' + placename + '</td><td>' + placeaddress +
                    '</td><td><a id="' + i + '" class= "btn btn-primary" onclick="newPlan(this)"> Add To Plan</a ></td ></tr > ');
                location.innerHTML = tripInstructions.join("");
            }
        }
        table = $('.table').DataTable();
    }

    function newPlan(element) {
        $("div[id$=dvProgress]").show();
        var to = destination[element.id];
        var from = "@startLocation";
        var jdate = "@Date";
        var jtime = "@Time";
        var lat = latitude[element.id];
        var lng = longitude[element.id];
        $.ajax({
            url: 'NewPlan',
            data: { 'plandate': jdate, 'time': jtime, 'lat': lat, 'lon': lng, 'fromlocation': from, 'location': to },
            type: "post",
            cache: false,
            success: function (data) {
                $("div[id$=dvProgress]").fadeOut("fast");
                alert("Added " + to + " to your plan successfully");
                console.log(to);
            },
            error: function () {
                alert("error");
            }
        });
    }

    function createMarker(place, icon) {
        var placeLoc = place.geometry.location;

        var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location,
            icon: {
                url: icon,
                scaledSize: new google.maps.Size(30, 30) // pixels
            },
            animation: google.maps.Animation.DROP
        });

        google.maps.event.addListener(marker, 'click', function () {
            infowindow.setContent(place.name + '<br>' + place.vicinity);
            infowindow.open(map, this);
        });
    }
    function doTTS(element) {
        document.getElementById(element.id).onclick = function () {
            var plocation = "location" + element.id;
            //var text = "At " + speaktime + ", You have planned to travel to " + document.getElementById(plocation).innerHTML
            //    + ", " + document.getElementById(ppcount).innerHTML;
            //const utterance = new SpeechSynthesisUtterance(text);
            //utterance.pitch = 1.5;
            //utterance.volume = 1.5;
            //utterance.rate = 1;
            //speechSynthesis.speak(utterance);
            console.log(element.id);
        }
    }
    var table;
    $(document).ready(function () {
        table = $('.table').DataTable();
        $("div[id$=dvProgress]").fadeOut("fast");
    });
</script>
<body onload="initialize()" style="font-size:22px;">
    <div class="page-header">
        <div class="container">
            <div class="breadcrumbs">
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href=@Url.Action(controllerName: "UserPlans",actionName: "PlanCreator", routeValues: new { date = Date})>My Plans</a></li>
                    <li>Nearby</li>
                </ul>
            </div> <!-- end .breadcrumbs -->
        </div> <!-- end .container -->
    </div>
    <h2>Explore near @nearlocation</h2>
    <div class="fullscreen-section">
        <div class="left">
            <div id="map" style="width:100%; height:614px;"></div>
        </div> <!-- end .left -->
        <div class="right">
            <div class="inner" style="overflow-y:scroll">
                <div class="directory-filters">
                    <form name="frm_map" id="frm_map">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <select id="typeholder" onchange="changeFunc();">
                                        <option value="art_gallery">Art Gallery</option>
                                        <option value="cafe">Cafe</option>
                                        <option value="church">Church</option>
                                        <option value="museum">Museum</option>
                                        <option value="zoo">Zoo</option>
                                    </select>
                                </div> <!-- end .form-group -->
                            </div> <!-- end .col-sm-4 -->
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <select id="radius" onchange="changeFunc();">
                                        <option value="1">1km</option>
                                        <option value="2">2km</option>
                                        <option value="3">3km</option>
                                    </select>
                                </div> <!-- end .form-group -->
                            </div> <!-- end .col-sm-4 -->
                        </div> <!-- end .row -->
                    </form>
                </div> <!-- end .directory-filters -->

                <div class="directory-list row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.Label("Location Name")
                                </th>
                                <th>
                                    @Html.Label("Location Address")
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="location"></tbody>
                    </table>

                </div> <!-- end .directory-list -->
            </div> <!-- end .inner -->
        </div> <!-- end .right -->
    </div> <!-- end .section -->
    <br />


</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
}



