<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />

<style>
    #myBtn {
        display: block;
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 20px;
        left: 48%;
        z-index: 99;
        border: none;
        outline: none;
        background-color: deepskyblue;
        color: white;
        padding: 15px;
        border-radius: 50%;
    }

        #myBtn:hover {
            background-color: #555;
        }
</style>
@model IEnumerable<VisionMelbourneV3.Models.UserPlan>
@{
    /**/
    ViewBag.Title = "My Day Planner";
    var planDate = "";
    string start = "";
    string destinationLocation = "";
    var displayDate = "";
    int plansCount = 1;
    var plans = Model.ToList();
    bool hasPlans = false;
    var count = 0;
}

@*jumbotron display plan date*@

@foreach (var item in Model)
{
    planDate = item.Date.ToString();
    start = item.StartLocation;
    var month = item.Date.ToString("MMMM");
    var year = item.Date.ToString("yyyy");
    displayDate = item.Date.DayOfWeek + "," + item.Date.Day + " " + month + ' ' + year;
    if (String.IsNullOrEmpty(item.Location)) { hasPlans = false; count = 0; } else { hasPlans = true; count++; }

}

<body style="padding-top:0px;">
    <div>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <div class="page-header">
            <div class="container">
                <div class="breadcrumbs">
                    <ul class="list-unstyled">
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("My Plans", "Index", "UserPlans")
                        </li>
                        <li>
                            @displayDate
                        </li>
                    </ul>
                </div> <!-- end .breadcrumbs -->
            </div> <!-- end .container -->
        </div> <!-- end .page-header -->
        <br /><br /><br />
        <div class="section small boxed-section light">
            <div class="inner">
                <div class="container">
                    <div class="box">
                        <div style="text-align:left;">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="frame">
                                        <div class="zoom"><h3 style="font-size:30px">Your plans for @displayDate</h3></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="frame">
                                        <div class="zoom"> <button class="Down button" title="Add a place"><i class="glyphicon glyphicon-plus"></i> Add Places</button></div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                        @if (!hasPlans && count == 0)
                        {<br /><div style="text-align:center">
                                <div class="frame">
                                    <div class="zoom"><h4>Oops! We could not find any plans today!</h4></div>
                                </div>
                            </div> }
                        else if (count > 0)
                        {
                            <div style="text-align:left;">
                                <a id=@plansCount class="btn btn-warning" onclick="dofullTTS(this.id)">
                                    Listen to All plans
                                    <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                                </a>
                            </div>
                            <div class="table-responsive">
                                <table class="table cart-items light-inputs">
                                    <thead>
                                        <tr>
                                            <th>Location</th>
                                            <th style="padding-left:22px;">Time</th>
                                            <th>Pedestrian traffic</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var userPlan in Model)
                                        {
                                            if (userPlan.Location != null && hasPlans)
                                            {

                                                destinationLocation = userPlan.Location;
                                                int pedcount = Convert.ToInt32(userPlan.PeopleCount);
                                                TimeSpan time = (TimeSpan)userPlan.Time;
                                                var travtime = time.ToString(@"hh\:mm");
                                                var locationID = "location" + plansCount;
                                                var timeID = "time" + plansCount;
                                                var peopleCountID = "pedcount" + plansCount;
                                                var rowID = "row" + plansCount;
                                                <tr id=@rowID>
                                                    <td>
                                                        <a id=@plansCount class="btn btn-warning" onclick="doTTS(this.id)">
                                                            Listen to Plan
                                                            <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                                                        </a>

                                                        <div id=@locationID>@Html.DisplayFor(modelItem => userPlan.Location)</div>
                                                    </td>
                                                    <td>
                                                        @if (time.Hours >= 12)
                                                        {
                                                            <div hidden>@Html.DisplayFor(modelItem => userPlan.Time)</div>
                                                            <div id=@timeID class="col-md-4"><p>@Html.DisplayName(time.ToString(@"hh\:mm"))pm</p></div>
                                                        }
                                                        else
                                                        {
                                                            <div id=@timeID class="col-md-4"><p>@Html.DisplayName(time.ToString(@"hh\:mm"))am</p></div>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (pedcount == 0)
                                                        {
                                                            <div class="row cardContainer">
                                                                <i class="glyphicon glyphicon-ban-circle"></i>
                                                                <p>Sorry no info found!</p>
                                                                <p id=@peopleCountID hidden>Sorry, no pedestrian traffic info found at your planned location!</p>

                                                            </div>
                                                        }
                                                        @if (pedcount <= 200 && pedcount > 0)
                                                        {
                                                            <div style="padding-left:20px" ; class="row cardContainer">
                                                                <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                                                <p>Free Street!</p>
                                                                <p id=@peopleCountID hidden>The Streets are usually free at this time!</p>

                                                            </div>

                                                        }

                                                        @if (pedcount <= 400 && pedcount > 200)
                                                        {
                                                            <div style="padding-left:20px" ;class="row cardContainer">
                                                                <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                                                <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                                                <p>Busy street!</p>
                                                                <p id=@peopleCountID hidden>The Streets are usually Busy at this time!</p>
                                                            </div>
                                                        }
                                                        @if (pedcount > 400)
                                                        {
                                                            <div style="padding-left:20px" ;class="row cardContainer">
                                                                <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                                                <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                                                <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                                                <p>Crowder Than Usual!</p>
                                                                <p id=@peopleCountID hidden>The Streets are usually Crowded at this time!</p>
                                                            </div>
                                                        }
                                                    </td>
                                                    <td>
                                                        <div style="padding-bottom:5px;">
                                                            <a href="@Url.Action("NearbyPlaces", "UserPlans",
                    new { planstart = start, nearlocation = destinationLocation, date = planDate, locLat = userPlan.Latitude, locLng = userPlan.Longitude, planTime = userPlan.Time })"
                                                               class="btn btn-primary">
                                                                Nearby
                                                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                                            </a>
                                                        </div>
                                                        <a href="@Url.Action("Delete", "UserPlans", new { id = userPlan.Id })" class="btn btn-danger">
                                                            Remove
                                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                        </a>

                                                    </td>
                                                </tr>
                                            }
                                            plansCount++;
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <div style="text-align:center;"><button type="button" class="button" onclick="redirectToMaps();">get directions</button></div>

                        }
                    </div> <!-- end .box -->
                </div> <!-- end .container -->
            </div> <!-- end .inner -->
        </div> <!-- end .section -->
        <!-- end .footer -->
        <!-- jQuery -->
        @*<script src="js/jquery-3.1.0.min.js"></script>*@
        <!-- Bootstrap -->
        <div id="newPlan" class="section small transparent dark text-center" style="background-image: url('../images/background05.jpg');">
            <div class="inner">
                @using (Html.BeginForm("NewPlan", "UserPlans"))
                {
                    <div class="container">
                        <div class="frame">
                            <div class="zoom">
                                <h1>Add a place</h1>
                            </div>
                        </div>
                        <div class="row">
                            <form>
                                <div class="col-sm-6">
                                    <div class="searchform" style="text-align:left">
                                        <div class="frame">
                                            <div class="zoom">
                                                <label for="CLocation">*Where to go</label>
                                            </div>
                                        </div>
                                        <div class="frame">
                                            <div class="zoom">
                                                <input id="autocomplete"
                                                       onclick="setFlag();"
                                                       autocomplete="off"
                                                       onchange="codeAddress();"
                                                       type="text" name="location"
                                                       placeholder="*Enter your plan location"
                                                       required
                                                       onfocus="this.placeholder=''"
                                                       onblur="this.placeholder = '*Enter your plan location'" />
                                                <button type="button"><i class="fa fa-location-arrow"></i></button>
                                            </div>
                                        </div>
                                        <input hidden id="lat" type="text" name="lat" />
                                        <input hidden id="lon" type="text" name="lon" />
                                        <input hidden type="text" name="plandate" value=@planDate />
                                        @Html.Hidden("fromlocation", start)
                                    </div> <!-- end .form-group -->
                                </div> <!-- end .col-sm-4 -->
                                <div class="col-sm-6">
                                    <div class="searchform" style="text-align:left">
                                        <div class="frame">
                                            <div class="zoom">
                                                <label for="FLocation">*Pick a time: </label>
                                            </div>
                                        </div><div class="frame">
                                            <div class="zoom">
                                                <input id="Date" autocomplete="off" type="datetime" name="time" placeholder="Pick a time" required class="form-control" />
                                                <button type="button"><i class="fa fa-calendar"></i></button>
                                            </div>
                                        </div>
                                    </div> <!-- end .form-group -->
                                </div> <!-- end .col-sm-4 -->
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="frame">
                                            <div class="zoom">
                                                <button onclick="geocodeAddress();" type="button" class="button">Plan Trips</button>
                                                <button id="submitPlace" type="submit" hidden></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div> <!-- end .inner -->
        </div> <!-- end .page-title -->

    </div>
</body>



@*Time picker for new plan*@
<script type="text/javascript">
    //Attach a datetimepicker element to the input input element. Time only format.
    $(function () {
        $('#Date').datetimepicker({
            format: 'HH:mm'
        });
    });
</script>

<script>
     //Scroll to the new plan div element when the Down class is clicked
    $('.Down').click(function () {
        $('html, body').animate({
            scrollTop: $("#newPlan").offset().top
        }, 'slow');
        return false;
    });

</script>
<script type="text/javascript">
    var currentLocation = "";
    var waypoints = "";
    //for item in the model add latitude and longitude as the waypoints
    @foreach (var item in Model)
    {
        @:addWaypoints(@item.Latitude, @item.Longitude);
    }

    //construct waypoints based on the google maps URL standard
    function addWaypoints(wlat, wlon) {
        waypoints = waypoints + wlat + ',' + wlon + '%7C';
    }

    //get the users current network location
    function getCurrentLocation() {
        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };

        function success(pos) {
            currentLocation = pos.coords;
            //on success remove the last separator from the waypoints string
            waypoints = waypoints.replace(/\%7C([^\%7C]*)$/, '$1');
            //redirect to google maps window with current location as start and end points
            window.open(returnMapUrl(currentLocation.latitude, currentLocation.longitude), '_blank');
        }

        function error(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);
        }

        navigator.geolocation.getCurrentPosition(success, error, options);
    }

    function returnMapUrl(userLat, userLon) {
        return "https://www.google.com/maps/dir/?api=1&origin=" + userLat + "," + userLon + "&destination=" + userLat + "," + userLon + "&waypoints=" + waypoints + " &dir_action=navigate";
    }

    function redirectToMaps() {
        getCurrentLocation();
    }
</script>
<script>
    //speech synthesis script
    function speak(element) {
        var plocation = "location" + element;
        var ptime = "time" + element;
        var ppcount = "pedcount" + element;
        var row = "row" + element;
        var speaktime = document.getElementById(ptime).innerHTML;
        //construct the text to be spoken
        var text = "At " + speaktime + ", You have planned to travel to " + document.getElementById(plocation).innerHTML
            + ", " + document.getElementById(ppcount).innerHTML;
        const utterance = new SpeechSynthesisUtterance(text);
        //configure the utterance pitch, volume and rate
        utterance.pitch = 1.5;
        utterance.volume = 1.5;
        utterance.rate = 1;
        //speak the utterance
        speechSynthesis.speak(utterance);
        //on utterance start, highlight the div element being spoken
        utterance.onstart = function (event) {
            document.getElementById(row).style.backgroundColor = "#FDFF47";
        };
        //on utterance end, remove highlight
        utterance.onend = function (event) {
            document.getElementById(row).style.backgroundColor = "transparent";
        };
    }

    //on single plan TTS click
    function doTTS(element) {
        //cancel previous speech
        speechSynthesis.cancel();
        //speak new plan element
        speak(element);
    }

    //full plan TTS
    var plans = "";
    function dofullTTS() {
        //lenght of plans
        plans = @plans.Count;
        //cancel previous speech
        speechSynthesis.cancel();
        for (i = 1; i <= plans; i++)
        {
            //speak new plan element in the list
            speak(i);
        }
    }
</script>

<script>
    //flag to identify if autocomplete value changed
    var auto = false;

    //set the autocomplete flag to false whenever the input element is clicked
    function setFlag() {
        auto = false;
    }

    //get the input element attributes
    var input = document.getElementById('autocomplete');
    //initialise the geocoder of google
    var geocoder = new google.maps.Geocoder();

    //setting the latitude longitude bbox boundaries for the autocomplete to retrieve restricted results
    var cityBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(-38.067807865, 144.5148742199),
        new google.maps.LatLng(-37.5687831234, 145.4157531261));

    //Set the options with the citybounds and country set to Australia
    var options = {
        bounds: cityBounds,
        componentRestrictions: { country: "au" }
    };

    //Attach an autocomplete element to the input field
    var autocomplete = new google.maps.places.Autocomplete(input, options);
    //add a listener to the autocomplete element
    autocomplete.addListener('place_changed', function () {
        //on change get the place address and store in the input HTML element
        var address = autocomplete.getPlace();
        //set the autocomplete flag to true
        auto = true;
    });

    function geocodeAddress() {
        //if the autocomplete flag is true geocode the text in the input element
        if (auto) {
            var autocompleteAddress = document.getElementById('autocomplete').value;
            geocoder.geocode({ 'address': autocompleteAddress }, function (results, status) {
                //if the geocode was successfull, set the values for lat and lon elements in the document.
                if (status === 'OK') {
                    document.getElementById('lat').value = results[0].geometry.location.lat();
                    document.getElementById('lon').value = results[0].geometry.location.lng();
                    $("#submitPlace").click();
                }
                //else clear the input field
                else {
                    document.getElementById('autocomplete').value = null;
                }
            });
        }
        //if the autocomplete flag is false clear the values of the input field and alert the user
        else {
            alert('Please enter a valid Destination!');
            document.getElementById('lat').value = null;
            document.getElementById('lon').value = null;
            document.getElementById('autocomplete').value = null;
        }

    }

    //Set a key listener to the autocomplete element. Set prevent default to preven the form
    //from submitting on "Enter" key press
    google.maps.event.addDomListener(input, 'keydown', function (e) {
        if (e.keyCode == 13 && $('.pac-container:visible').length) {
            e.preventDefault();
        }
    });
</script>




