<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />

<style>
    #myBtn {
        display: block;
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 20px;
        left: 48%;
        z-index: 99;
        border: none;
        outline: none;
        background-color: deepskyblue;
        color: white;
        padding: 15px;
        border-radius: 50%;
    }

        #myBtn:hover {
            background-color: #555;
        }
</style>
@model IEnumerable<VisionMelbourneV3.Models.UserPlan>
@{
    /**/
    ViewBag.Title = "My Day Planner";
    var planDate = "";
    string start = "";
    string destinationLocation = "";
    var displayDate = "";
    int plansCount = 1;
    var plans = Model.ToList();
}

@*jumbotron display plan date and start location*@

@foreach (var item in Model)
{
    planDate = item.Date.ToString();
    start = item.StartLocation;
    var month = item.Date.ToString("MMMM");
    var year = item.Date.ToString("yyyy");
    displayDate = item.Date.DayOfWeek + "," + item.Date.Day + " " + month + ' ' + year;

}

<body style="padding-top:0px;">
    <div>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <div class="page-header">
            <div class="container">
                <div class="breadcrumbs">
                    <ul class="list-unstyled">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>My Plans</li>
                    </ul>
                </div> <!-- end .breadcrumbs -->
            </div> <!-- end .container -->
        </div> <!-- end .page-header -->

        <br /><br /><br />
        <div class="section boxed-section light">
            <div class="inner">
                <div class="container">
                    <div class="box">
                        <div style="text-align:center;">
                            <a id=@plansCount class="btn btn-warning" onclick="dofullTTS()">
                                Speak
                                <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                            </a>
                            <h2>Your plans for @displayDate</h2>
                            <div><button class="Down button" title="Go to top"><i class="glyphicon glyphicon-plus"></i> Add to plan</button></div>
                        </div>
                        <div class="table-responsive">
                            <table class="table cart-items light-inputs">
                                <thead>
                                    <tr>
                                        <th>Location</th>
                                        <th>Time</th>
                                        <th>Pedestrian traffic</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var userPlan in Model)
                                    {
                                        if (userPlan.Location != null)
                                        {
                                            destinationLocation = userPlan.Location;
                                            int pedcount = Convert.ToInt32(userPlan.PeopleCount);
                                            TimeSpan time = (TimeSpan)userPlan.Time;
                                            var travtime = time.ToString(@"hh\:mm");
                                            var locationID = "location" + plansCount;
                                            var timeID = "time" + plansCount;
                                            var peopleCountID = "pedcount" + plansCount;
                                            var btnID = "btn" + plansCount;
                                            <tr>
                                                <td>
                                                    <a id=@plansCount class="btn btn-warning" onclick="doTTS(this)">
                                                        Speak
                                                        <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                                                    </a>

                                                    <div id=@locationID>@Html.DisplayFor(modelItem => userPlan.Location)</div>
                                                </td>
                                                <td>
                                                    @if (time.Hours >= 12)
                                                    {
                                                        <div id=@timeID hidden>@Html.DisplayFor(modelItem => userPlan.Time)</div>
                                                        <div class="col-md-4"><p>@Html.DisplayName(time.ToString(@"hh\:mm"))pm</p></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-md-4"><p id=@timeID>@Html.DisplayName(time.ToString(@"hh\:mm"))am</p></div>
                                                    }
                                                </td>
                                                <td>
                                                    @if (pedcount == 0)
                                                    {
                                                        <div class="row cardContainer">
                                                            <i class="glyphicon glyphicon-ban-circle"></i>
                                                            <p>Sorry no info found!</p>
                                                            <p id=@peopleCountID hidden>Sorry, no pedestrian traffic info found at your planned location!</p>

                                                        </div>
                                                    }
                                                    @if (pedcount <= 200 && pedcount > 0)
                                                    {
                                                        <div class="row cardContainer">
                                                            <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                                            <p>Free Street!</p>
                                                            <p id=@peopleCountID hidden>The Streets are usually free at this time!</p>

                                                        </div>

                                                    }

                                                    @if (pedcount <= 400 && pedcount > 200)
                                                    {
                                                        <div class="row cardContainer">
                                                            <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                                            <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                                            <p>Busy street!</p>
                                                            <p id=@peopleCountID hidden>The Streets are usually Busy at this time!</p>
                                                        </div>
                                                    }
                                                    @if (pedcount > 400)
                                                    {
                                                        <div class="row cardContainer">
                                                            <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                                            <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                                            <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i>
                                                            <p>Crowder Than Usual!</p>
                                                            <p id=@peopleCountID hidden>The Streets are usually Crowded at this time!</p>
                                                        </div>
                                                    }
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("NearbyPlaces", "UserPlans",
                                            new { planstart = start, nearlocation = destinationLocation, date = planDate, locLat = userPlan.Latitude, locLng = userPlan.Longitude , planTime = userPlan.Time})"
                                                       class="btn btn-primary">
                                                        Explore nearby
                                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                    </a>
                                                    <a href="@Url.Action("Delete", "UserPlans",new { id = userPlan.Id })" class="btn btn-danger">
                                                        Delete
                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                    </a>

                                                </td>
                                            </tr>
                                        }
                                        plansCount++;
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div> <!-- end .box -->
                </div> <!-- end .container -->
            </div> <!-- end .inner -->
        </div> <!-- end .section -->
        <!-- end .footer -->
        <!-- jQuery -->
        @*<script src="js/jquery-3.1.0.min.js"></script>*@
        <!-- Bootstrap -->
        <div id="newPlan" class="section small transparent dark text-center" style="background-image: url('../images/background05.jpg');">
            <div class="inner">
                @using (Html.BeginForm("NewPlan", "UserPlans"))
                {
                    <div class="container">
                        <h1>Create Plan</h1>
                        <div class="row">
                            <form>
                                <div class="col-sm-6">
                                    <div class="searchform" style="text-align:left">
                                        <label for="CLocation">Enter your planned destination</label>
                                        <input id="autocomplete" type="text" name="location" placeholder="Add a Location" required onfocus="this.placeholder=''" onblur="this.placeholder ='Add a location'" />
                                        <button type="button"><i class="fa fa-location-arrow"></i></button>
                                        <input hidden id="lat" type="text" name="lat" />
                                        <input hidden id="lon" type="text" name="lon" />
                                        <input hidden type="text" name="plandate" value=@planDate />
                                        @Html.Hidden("fromlocation", start)
                                    </div> <!-- end .form-group -->
                                </div> <!-- end .col-sm-4 -->
                                <div class="col-sm-6">
                                    <div class="searchform" style="text-align:left">
                                        <label for="FLocation">Pick a time: </label>
                                        <input id="Date" type="datetime" name="time" placeholder="Pick a time" required class="form-control" />
                                        <button type="button"><i class="fa fa-calendar"></i></button>
                                    </div> <!-- end .form-group -->
                                </div> <!-- end .col-sm-4 -->
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="submit" value="Add Place" class="button" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div> <!-- end .inner -->
        </div> <!-- end .page-title -->

    </div>
</body>



@*Time picker for new plan*@
<script type="text/javascript">
    $(function () {
        $('#Date').datetimepicker({
            format: 'HH:mm'
        });
    });

    $(document).ready(function () {
        $("div[id$=dvProgress]").fadeOut("fast");
    });
</script>

<script>
    var cityBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(-38.067807865, 144.5148742199),
        new google.maps.LatLng(-37.5687831234, 145.4157531261));

    var options = {
        bounds: cityBounds,
        componentRestrictions: { country: "au" }
    };

    var input = document.getElementById('autocomplete');
    var autocomplete = new google.maps.places.Autocomplete(input, options);
    autocomplete.addListener('place_changed', function () {
        var place = autocomplete.getPlace();
        document.getElementById('lat').value = place.geometry.location.lat();
        console.log(place.geometry.location.lat());
        document.getElementById('lon').value = place.geometry.location.lng();
    });


    function doTTS(element) {
        var plocation = "location" + element.id;
        var ptime = "time" + element.id;
        var ppcount = "pedcount" + element.id;
        var speaktime = document.getElementById(ptime).innerHTML;
        var text = "At " + speaktime + ", You have planned to travel to " + document.getElementById(plocation).innerHTML
            + ", " + document.getElementById(ppcount).innerHTML;
        const utterance = new SpeechSynthesisUtterance(text);
        utterance.pitch = 1.5;
        utterance.volume = 1.5;
        utterance.rate = 1;
        speechSynthesis.speak(utterance);
    }


</script>
<script>
    $('.Down').click(function () {
        $('html, body').animate({
            scrollTop: $("#newPlan").offset().top
        }, 'slow');
        return false;
    });
</script>
<script>
    var plans = "";
    function dofullTTS() {
        plans = @plans.Count;
        var num = 1;
        for (i = 0; i < plans; i++)
        {
            var plocation = "location" + num;
            var ptime = "time" + num;
            var ppcount = "pedcount" + num;
            var speaktime = document.getElementById(ptime).innerHTML;
            var text = "At " + speaktime + ", You have planned to travel to " + document.getElementById(plocation).innerHTML
                + ", " + document.getElementById(ppcount).innerHTML;
            const utterance = new SpeechSynthesisUtterance(text);
            utterance.pitch = 1.5;
            utterance.volume = 1.5;
            utterance.rate = 1;
            speechSynthesis.speak(utterance);
            num++;
        }
        
    }

    

</script>





